
<img width="100%" height="auto" src="assets/img/communityBanner.png" alt="">



<div class="qq-container qq-mt5">

    <div class="text-center mt-2">
        <div class="qq-heading">Featured Games</div>
        <p>Drift into old-school fun with the Super Mario Kart Tour!</p>
    </div>

    <div class="qq-mt"></div>

    <div class="slider-wrap ">
        <div class="lightDiv2 ">
            <div class="box item " *ngFor="let item of bestGames">
                <img height="200" class="qq-img" src="assets/img/{{item.img}}" alt="">
                <div class="qq-flex">
                    <h5>{{item.name}}</h5> &nbsp;&nbsp;&nbsp;
                    <div><img src="assets/img/stars.png" alt=""></div>
                </div>
                <p>147,681 travellers</p>
            </div>


        </div>
        <div>
            <div class="prev" type="button" appPrev> <img width="40" src="assets/img/pre.png" alt=""> </div>
            <div class="next" type="button" appNext> <img width="40" src="assets/img/next.png" alt=""> </div>
        </div>
    </div>

    <div class="qq-mt5"></div>

    <div class="row justify-content-between">

        <div class="col-md-5">
           <div> <img width="100%" src="assets/img/worms.png" alt=""></div>
        </div>

        <div class="col-md-6 qq-mt5">
            <h4>Join our community, right now.</h4>
            <p class="qq-mt5">Connect with worldwide players and worldwide games</p>
            <b  class="qq-mt5">Already have an account?</b> &nbsp; <span class="qq-color"><b>Sign In</b></span>
            <p  class="qq-mt">Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the Super Mario Kart™ Tour—the latest limited-time event in the Mario Kart Tour game, happening now! Collect Grand Stars and see if you can earn all the in-game rewards. Mario Bros.™ </p>
        </div>

    </div>


    <div class="qq-mt5"></div>

    <div class="row justify-content-between">

        <div class="col-md-6 qq-mt5 ">
            <div class="qq-mt5"></div>
            <b class="mt-5">Stand out amongst your friends</b>
            <p>Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the Super Mario Kart™ Tour—the latest limited-time event in the Mario Kart Tour game, happening now! Collect Grand Stars and see if you can earn all the in-game rewards. Mario Bros.™ </p>
            <div class="qq-mt5"></div>

            <b>Show your achievements</b>
            <p>Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the Super Mario Kart™ Tour—the latest limited-time event in the Mario Kart Tour game, happening now! Collect Grand Stars and see if you can earn all the in-game rewards. Mario Bros.™ <br>
                Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the Super Mario Kart™ Tour. <br>
                Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the.</p>

        </div>

        <div class="col-md-6 qq-mt5">
            <div> <img width="100%" src="assets/img/poker.png" alt=""></div>
            
        </div>

    </div>


    <div class="text-center mt-2">
        <div class="qq-heading">All -ages games: <br>
            Something for everyone</div>
       
    </div>

    <div class="qq-mt5"></div>

    <div class="row justify-content-between">

        <div class="col-md-5">
           <div class="qq-mt"> <img width="100%" src="assets/img/xx@2x.png" alt=""></div>
        </div>

        <div class="col-md-6 qq-mt5">
            <b>Then, a child of that devil and he was called the brave</b>
            <p>Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the Super Mario Kart™ Tour—the latest limited-time event in the Mario Kart Tour game, happening now! Collect Grand Stars and see if you can earn all the in-game rewards. Mario Bros.™ <br>
                Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the Super Mario Kart™ Tour. <br>
                Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the.</p>
        </div>

    </div>

    

    <div class="qq-mt5"></div>

    <div class="row justify-content-between">

        <div class="col-md-6">
            <b>Then, a child of that devil and he was called the brave</b>
            <p>Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the Super Mario Kart™ Tour—the latest limited-time event in the Mario Kart Tour game, happening now! Collect Grand Stars and see if you can earn all the in-game rewards. Mario Bros.™ <br>
                Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the Super Mario Kart™ Tour. <br>
                Celebrate the classic that gave a rocket start to racing around the Mushroom Kingdom with the.</p>
        </div>

        <div class="col-md-6 qq-mt5">
            <div class="qq-mt"> <img width="100%" src="assets/img/zynga2x.png
                " alt=""></div>
            
        </div>

    </div>


    </div>