<div class="container1 mb-5">
    <img src="assets/img/logo.png" alt="logo">
</div>
<hr>

<footer class="footer">
   
    <div class="container1">
       
        <div class="row">
            <div class="footer-col">
                <h4>About Vulpes</h4>
                <ul>
                    <li> <a href="">Company</a></li>
                    <li><a href="">Career</a></li>
                    <li><a href="">Sitemap</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Explore More</h4>
                <ul>
                    <li> <a href="">Game Store</a></li>
                    <li><a href="">Online Retailers</a></li>
                    <li><a routerLink="/terms" href="">Vulpes Offers</a></li>
                    <li><a routerLink="/terms" href="">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Parent Controls</h4>
                <ul>
                    <li class="d-flex"> <a href="">Health & Safety Precautions</a></li>
                    <li class="d-flex"> <a href="">Updated Warranty</a></li>
                    <li class="d-flex"> <a href="">Nintendo Switch Support</a></li>

                </ul>
            </div>
            <div class="footer-col">
               <ul>
                <li class="kingbox">
                    <img class="kingImg"  src="assets/img/King.png" alt="">
                </li>
               </ul>
                            

            </div> 

            <div class="footer-col">

                <ul class="">
              
                    <li class="d-flex toTop"> <a  (click)="backtoTop()"><b class="qq-color">Back to Top</b></a></li>
                    
                 </ul>

                </div>

        </div>

    </div>

</footer>
<hr>

<div class="social-links mt-2 container1">
    <a class="mrgn" href=""> <img src="assets/img/fb.png" alt=""></a>
    <a class="mrgn" href=""> <img src="assets/img/insta.png" alt=""></a>
    <a class="mrgn" href=""> <img src="assets/img/linkedin.png" alt=""></a>
</div>

<div class="copyright">

    <div>
        © {{year}} Vulpes Games Private Limited
    </div>


    <div class="copyright2">
        Change Region

    </div>

</div>